{{ if .Site.Data.contact.enable }}
{{"<!-- Start Contact Us -->" | safeHTML}}
<section id="contact-us" class="contact-us section-bg">
    <div class="container">
<div class="fomulaire-contact">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with .Site.Data.contact.heading }} {{ . }} {{ end }} <span class="color">{{ with .Site.Data.contact.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}
        </div>
            {{"<!-- Contact Form -->" | safeHTML}}  
   			    
 <div class="col-lg-12">
              <h4 class="demander-devis" style="text-align:center;">Vous pouvez demander un devis via ce formulaire</h4>
   <div class="madec-contact-form">
	
	 <form name="madec-contact" method="POST" data-netlify="true">
		   
		<div class="row">
				 
			<div class="col-lg-6 wow fadeInUp madec-contacter" data-wow-duration="500ms" data-wow-delay="300ms">
				 
                  <!--  <input name="e-mail" type="text" id="e-mail" autocomplete="off"> -->

                    <p>
                        <label>Société: <input type="text" class="madecform" name="societe"/></label>
                    </p>

                    <p>
                        <label>Activité: <input type="text" class="madecform" name="activite" /></label>
                    </p>

                    <p>
                        <label>Nom *: <input type="text" required="required" class="madecform" name="name"/> </label>
                    </p>
                     
					 <p>
                       <label>Email *: <input type="email" required="required" class="madecform" name="email"/></label>
                    </p>
					
					<p>
                       <label>Phone : <input type="phone" class="madecform" name="phone"/></label>
                    </p>
            </div>
				
				
			<div class="col-lg-6 wow fadeInUp madec-contacter" data-wow-duration="500ms" data-wow-delay="300ms">
			    
                    <p>
                       <label>Adresse * : <input type="text" required="required"  class="madecform" name="adresse" /></label>
                    </p>

                    <p>
                        <label>Ville * : <input type="text" required="required"  class="madecform" name="ville"/></label>
                     </p>

                    <p>
                       <label>Code Postal * : <input type="text" required="required"  class="madecform" name="codepostale"/></label>
                     </p>
					
					<p>
                        <label>Pays * : <input type="text" required="required" class="madecform" name="pays"/></label>
                     </p>
					
					<p>
                       <label>Fax : <input type="phone" class="madecform" name="fax"/></label>
                     </p>
            </div>
			
	    </div>		
		<div class="row madec-contacter" >	
		      <div class="col-lg-2">
			  <p class="champs-obligatoire">(<span class="champs-etoile">*</span>) champs obligatoires</p>
			  </div>
			  
              <div class="col-lg-8">		
				    <p>
					  <label> Type de Projet: 
					  <select name="projet" class="madecform2">
						     <option valeur="siteseb">Création de site web</option>
							 <option valeur="design">Design et marketing</option>
							 <option valeur="campagn">E-Mailing & E-Campagn</option>
					   </select></label> 
					   
                    </p>
					
					<p>
                   <label>Objet : <input type="text" class="madecform2" name="objet"/></label>
                    </p>
					
					
					
                    <p>
                     <label>Massage : <textarea rows="6" class="madecform2" name="message"></textarea></label>
                   </p> 
					
					
					<div id="mail-success" class="success">
                        Merci de votre message. Nous donnons suite à votre demande ASAP :)
                    </div>

                    <div id="mail-fail" class="error">
                        Désolé, votre message n'est pas parti. Veuillez réessayer! :(
                    </div>
					
					<div class="row">
						<div class="col-lg-4">
						</div>
						<div class="col-lg-4">
							<div id="cf-submit">
								<input type="submit" id="contact-submit" class="btn btn-transparent" value="Envoyer">
							</div>
						</div>
						<div class="col-lg-4">
			            </div>
					</div>	
					
				</div>
				
				<div class="col-lg-2">
			  </div>
        </div>					
    </form>
  </div>
  </div>
</div>        

    {{"<!-- Google Map -->" | safeHTML}}
    <div class="google-map">
        <div id="map-canvas" {{ with .Site.Data.contact.mapLatitude }} data-latitude="{{ . }}" {{ end }}
        {{ with .Site.Data.contact.mapLongitude }} data-longitude="{{ . }}" {{ end }}></div>
    </div>
  </div>
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}