
{{"<!-- Start Books -->" | safeHTML}}
<section id="readbook" class="bg-one section">
    <div class="container">
	  <div class="containeur"> 
        <div class="row">
		
					<div class="read-the-book">
					
									<h3>Télécharger le libre blanc !</h3>
					 
							<div class="the-book">
								<object data="files/livres/libre_blanc.pdf" type="application/pdf" width="900" height="700">
								</object>
								
							</div>
							
                      </div>
					
        </div>
     </div>
	</div>
</section>
{{"<!-- /books -->" | safeHTML}}
