{{ define "main" }}

{{ partial "navigation.html" . }}

{{"<!-- Start Contact Us -->" | safeHTML}}
<section id="contact-us" class="contact-us section-bg">
    <div class="container">
        <div class="row mt-6">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center fadeIn">
                    <h2>{{ with .Site.Data.contactus.heading }} {{ . }} {{ end }} <span
                            class="color">{{ with .Site.Data.contactus.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}
        </div>



        {{"<!-- Contact Form -->" | safeHTML}}
        <form id="contact-form" class="form-meghna" method="post" action="sendmail.php" role="form" netlify>
            <div class="row">
                <div class="col-lg-6 fadeInUp">
                    <input name="e-mail" type="text" id="e-mail" autocomplete="off">

                    <div class="form-group">
                        <input type="text" placeholder="Votre société" class="form-control" name="societe" id="societe">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Votre activité" class="form-control" name="activite"
                            id="activite">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Votre nom*" class="form-control" name="nom" id="nom" required>
                    </div>

                    <div class="form-group">
                        <input type="email" placeholder="Votre Email*" class="form-control" name="email" id="email"
                            required>
                    </div>

                    <div class="form-group">
                        <input type="tel" placeholder="Votre téléphone" class="form-control" name="tel" id="tel">
                    </div>

                </div>

                <div class="col-lg-6 fadeInUp">
                    <div class="form-group">
                        <input type="text" placeholder="Votre adresse*" class="form-control" name="adresse" id="adresse"
                            required>
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Votre ville*" class="form-control" name="ville" id="ville"
                            required>
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Votre code postal" class="form-control" name="cp" id="cp">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Votre pays" class="form-control" name="pays" id="pays">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Votre fax" class="form-control" name="fax" id="fax">
                    </div>
                </div>



                <div class="col-lg-12 fadeInUp mt-5">

                    <div class="form-group col-lg-6">
                        <input type="text" placeholder="Type de projet*" class="form-control" name="objet" id="objet"
                            required>
                    </div>

                    <div class="form-group col-lg-6">
                        <select id="pet-select" class="form-control" required>
                            <option value="">--Type de projet*--</option>
                            <option value="dog">Dog</option>
                            <option value="cat">Cat</option>
                            <option value="hamster">Hamster</option>
                            <option value="parrot">Parrot</option>
                            <option value="spider">Spider</option>
                            <option value="goldfish">Goldfish</option>
                        </select>
                    </div>


                    <div class="form-group col-lg-6 mb-5">
                        <input type="text" placeholder="Objet" class="form-control" name="objet" id="objet">
                    </div>

                    <div class="form-group">
                        <textarea rows="6" placeholder="Message*" class="form-control" name="message" id="message"
                            required></textarea>
                    </div>

                    <div id="mail-success" class="success">
                        Thank you. The Mailman is on His Way :)
                    </div>

                    <div id="mail-fail" class="error">
                        Sorry, don't know what happened. Try later :(
                    </div>

                    <small>(*) champs obligatoires</small>

                    <div class="text-center"><button type="submit" class="btn btn-primary mt-2">Envoyer</button>
                    </div>

                </div>

                <div class="col-lg-12 fadeInUp my-5">
                    {{ partial "map.html" . }}
                </div>

            </div>

        </form>



    </div>
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}